.main-menu{
	position:fixed;
	top:-100%;
	background-color:white;
}
.main-menu--show{
	top:0%;
}
.main-menu--hide{
	top:-20px;
}
.animation{
	transition-property:top;
	transition-duration: 0.5s;
}

.menu-container{
	position:relative;
	
}

.menu-label{
	position:absolute;
	display:block;
	top:100%;
	width:20px;
	height:20px;
}

.wideModal .modal-dialog {
	width: 70%;
}

.narrowModal .modal-dialog {
	width: 30%;
}
.group{
	display: inline-block;
}

.answerContainer{
	margin-bottom:10px;
}
.show-answer-label{
	font-weight:normal;
}

#resultVisualisation{
	margin-top:10px;
}

.contentContainer{
	margin:10px;
}

.groupContainer { 
	transition-duration: 1s;
}
.changeBColour:hover { /* цвет при наведении */
	background-color: rgba(192, 205, 221, 0.33);
}
.pronounce{
	cursor:pointer;
}
.modal-pronounce-value{
	display:none;
}
.pronounce-container{
	float:left;
	font-size:small;
	cursor:pointer;
}
.answer-dict-container{
	float:right;
}
.clearfix{
	content:"";
	display:table;
	clear:both;
}
table { 
	transition-duration: 1s;
}

table:hover { /* цвет при наведении */

background-color: rgba(192, 205, 221, 0.33);
}
.column{
	display:inline-block;
	width:49%;
	padding-left:10px;
	padding-right:10px;
}
